body {
  font-family: Roboto, sans-serif !important;
}

:focus {
  box-shadow: none !important;
}

* {
  outline: none !important;
}

a {
  color: #478ac9 !important;
  text-decoration: none !important;
}

h2, .h2 {
  font-family: Aclonica;
  font-size: 3.75rem !important;
  font-weight: 400;
  color: #b29a36;
}

/* -------------------------------- navbar */

.navbar.bg-dark {
  background-color: #333333 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fef9e6 !important
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f5d654 !important;
}

.navbar-light .navbar-nav .nav-link:focus:active, .navbar-light .navbar-nav .nav-link:hover:active {
  color: #f1c50e !important;
}

.navbar-light .navbar-text {
  font-weight: 700;
  color: rgb(178 154 54) !important;
}

/* ------------------------------- offer item */

.offer_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 30px 10px;
}

.offer_item>div {
  margin: 10px;
}

.offer_item img {
  max-width: 100%;
  width: 320px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  margin: auto;
}

.offer_item h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 15px auto;
}


/* ------------------------------------------ btn */

.btn {
  display: block !important;
  margin: auto;
  border-radius: 0 !important;
  padding: 10px !important;
}

.btn-primary {
  background-color: #d9d9d9 !important;
  color: #b29a36 !important;
  border-width: 0px !important;
}

.btn-primary:hover {
  box-shadow: 2px 2px 8px 0 rgb(128 128 128) !important;
  color: #b29a36 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r), var(--undefined-g), var(--undefined-b), 0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #c3c3c3 !important;
  box-shadow: 2px 2px 8px 0 rgb(128 128 128) !important;
}

.btn-secondary {
  background-color: #b29a36 !important;
  color: #ffffff !important;
  border-width: 0px !important;
}

.btn-secondary:hover {
  background-color: #a08b31 !important;
  box-shadow: 2px 2px 8px 0 rgb(128 128 128) !important;
  color: #ffffff !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.btn-secondary:active, .btn-secondary:focus {
  background-color: #a08b31 !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  color: #000000 !important;
  border-color: #d9d9d9 !important;
  border-width: 2px !important;
}

.btn-outline-primary:hover {
  color: #b29a36 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9;
}

.btn-group, .btn-group-vertical {
  grid-gap: 20px;
}

/* ------------------------------------form */

form input {
  border-width: 4px !important;
  border-radius: 0 !important;
}

.form-control:focus {
  border-color: #a08b31 !important;
}

/* ----------------------------------- tabs */

.tab-content {
  background-color: #d9d9d9;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-link {
  color: #000000 !important;
}

.nav-tabs .nav-link {
  margin-bottom: -1px !important;
  background: 0 0 !important;
  border: 2px solid black !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  border-radius: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff !important;
  border-color: #000000 #000000 #000 !important;
  background: #b29a36 !important;
  border-width: 2px !important;
  border-radius: 0 !important;
}

/* ---------------------------------- ribbon */

.ribbon {
  position: sticky;
  width: fit-content;
  margin: auto;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #209e63;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #34db8d;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon.red::after,
.ribbon.red::before{
  border: 5px solid #9e2020 !important;
}

.ribbon.red span{
  background-color: #db3434 !important;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: -10px;
  right: 140px;
}

.ribbon-top-right::after {
  top: 140px;
  right: -9px;
}

.ribbon-top-right span {
  left: 150px;
  top: 41px;
  transform: rotate(45deg);
  border-radius: 15px 15px 0 0;
}

@media (max-width: 1400px) {
  .ribbon-top-right::after {
    right: -10px;
  }

  .ribbon-top-right::before {
    right: 139px;
  }

  .ribbon-top-right span {
    left: 136px;
  }
}

@media (max-width: 1200px) {
  .ribbon-top-right span {
    left: 76px;
  }
}

@media (max-width: 992px) {
  .ribbon-top-right span {
    left: 100px;
  }
}

@media (max-width: 768px) {
  .ribbon-top-right span {
    left: 10px;
  }
}

@media (max-width: 576px) {
  .ribbon-top-right span {
    right: -55px;
    left: auto;
  }
}

/* --------------------------------- footer */

footer {
  height: 300px;
  background-color: #333333 !important;
  margin-top: 50px;
}